
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/icons-streamline";
@import "partials/icons-fontawesome";
@import "partials/layouts";
@import "partials/logo";
@import "partials/navigation";
@import "partials/teaser";
@import "partials/footer";

body {
  background: $color-gray-lightest;
  color: $color-text;

  font-family: $font-text;
  font-size: 14px;
  line-height: 23px;

  @include mq(xlarge) {
    // padding: $gutter-width-m;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  color: $color-first-annex;
  font-family: $font-title;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

b {
  font-family: $font-bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

.clearfix:after {
  clear: both;
}

.handwriting {
  font-family: $font-handwriting;
}

.align-right {
  text-align: right;
}


.icon-inverse {
  transform: rotate(90deg);
}

.board,
#contactus {
  padding-bottom: $gutter-height-l;
  padding-top: $gutter-height-l;
}

#contactus {
  background: $color-second;
  color: $color-second-annex;

  // background: $color-gray-lightest;
  // background: $color-white;
  // color: $color-first-annex;
  // color: $color-first;
  // font-family: $font-handwriting;
  .contact {
    font-size: 18px;
    @media screen and (min-width: $screen-m) {
      font-size: 20px;
    }
    b {
      color: $color-second-darkest;
      // color: $color-gray-darkest;
    }
  }
  .small-teaser-contact {
    font-size: 32px;
    line-height: 20px;
    position: relative;
    i {
      font-size: 108px;
    }
    .picture {
      position: absolute;
      top: -70px;
      right: 0;
      text-align: center;
      @media screen and (min-width: $screen-m) {
        text-align: right;
      }
    }
  }
  .big-teaser-contact {
    font-size: 64px;
    line-height: 85px;
    // padding-top: $gutter-height-m;
  }
}




.bigger {
  i {
    font-size: 24px;
  }
  font-size: 16px;
}

.board {
  section {
    margin-top: $gutter-height-l;
  }
  header {
    position: relative;
  }
  header > i {
    color: $color-gray-lightest;
    font-size: 48px;
    position: absolute;
    right: 0;
    top: 12px;
    // z-index: 1;
  }
  h1 {
    color: $color-gray-lightest;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    border-top: 2px solid $color-first;
    // color: red;
    color: $color-gray-darker;
    font-size: 24px;
    // margin-top: $gutter-height-l;
    padding-top: $gutter-height-s;
    // z-index: 2;
  }
}
@include mq(large) {
  .board {
    section {
      margin-top: 0;
    }
  }
}

.focus, .focus-inverse {
  // font-family: $font-handwriting;
  // font-size: 32px;
  // line-height: 43px;

  // font-family: $font-handwriting;
  // font-size: 24px;
  // line-height: 33px;

  font-size: 18px;
  line-height: 26px;
}
.focus {
  color: $color-first;
}
.focus-inverse {
  color: $color-white;
}

.container {
  background: $color-bg;
  color: $color-text;
}

.container-inverse {
  background: $color-bg-inverse;
  color: $color-text-inverse;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

