
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/icons";
@import "partials/layouts";
@import "partials/logo";
@import "partials/navigation";
@import "partials/teaser";
@import "partials/calltoaction";
@import "partials/footer";
@import "partials/404";

body {
  // background: $color-white;
  background: $color-near-white;
  color: $color-text;

  font-family: $font-text;
  font-size: 14px;
  line-height: 23px;

  @include mq(xlarge) {
    // padding: $gutter-width-m;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  color: $color-first-annex;
  font-family: $font-title;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

b {
  font-family: $font-bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

li i + span {
  line-height: 32px;
  vertical-align: super;
  padding-left: 6px;
}

  ul.contact li + li {
    margin-top: 24px;
  }

.clearfix:after {
  clear: both;
}

.handwriting {
  font-family: $font-handwriting;
  -webkit-font-smoothing: antialiased;
}

.align-right {
  text-align: right;
}


.icon-inverse {
  transform: rotate(90deg);
}

.board {
  padding-bottom: $gutter-height-l;
  padding-top: $gutter-height-l;
}






.bigger {
  i {
    font-size: 24px;
  }
  font-size: 16px;
}

.board {
  section {
    margin-top: $gutter-height-l;
  }
  .vignette {
    margin-bottom: $gutter-height-m;
  }
  header {
    position: relative;
  }
  header > i {
    color: $color-gray-lightest;
    font-size: 48px;
    position: absolute;
    right: 0;
    top: 0;
  }
  h1 {
    color: $color-gray-lightest;
    font-size: 36px;
    margin-bottom: $gutter-height-m;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    border-bottom: 1px solid $color-first;
    color: $color-gray-darker;
    font-size: 24px;
    margin-bottom: $gutter-height-s;
    padding-bottom: $gutter-height-s;
    padding-top: $gutter-height-s;
  }
}
@include mq(large) {
  .board {
    section {
      margin-top: 0;
    }
  }
}

.focus, .focus-inverse {
  font-size: 18px;
  line-height: 26px;
}
.focus {
  color: $color-first;
}
.focus-inverse {
  color: $color-white;
}

.container {
  background: $color-bg;
  // background: $color-gray-lightest;
  color: $color-text;
}

.container-inverse {
  background: $color-bg-inverse;
  color: $color-text-inverse;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

