
@import "partials/variables";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/icons-streamline";
@import "partials/icons-fontawesome";
@import "partials/layouts";
@import "partials/navigation";
@import "partials/teaser";

body {
  background: $color-gray-lightest;
  color: $color-text;

  font-family: $font-text;
  font-size: 14px;
  line-height: 23px;

  @include mq(large) {
    padding: $gutter-width-m;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > footer {
      border-top: 4px solid $color-gray-darker;
    .legal {
      border-top: 2px solid $color-gray-darker;
    }
    i {
      font-size: 24px;
    }
  }
}

a {
  color: $color-first-annex;
  font-family: $font-title;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

.handwriting {
  font-family: $font-handwriting;
}


.icon-inverse {
  transform: rotate(90deg);
}

#contactus {
  background: $color-first;
  // colo

  // background: $color-gray-lightest;
  color: $color-first-annex;
  font-family: $font-handwriting;
  font-size: 64px;
  line-height: 85px;
  i {
    font-size: 108px;
  }
  .picture {
    text-align: center;
    @media screen and (min-width: $screen-m) {
      text-align: right;
    }
  }
}




.bigger {
  i {
    font-size: 24px;
  }
  font-size: 16px;
}

.board {
  
  padding-bottom: $gutter-height-xl;
  padding-top: $gutter-height-m;
  header {
    position: relative;
  }
  header > i {
    color: $color-gray-lightest;
    font-size: 48px;
    position: absolute;
    right: 0;
    top: 12px;
    // z-index: 1;
  }
  h1 {
    color: $color-gray-lightest;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    border-top: 2px solid $color-first;
    // color: red;
    color: $color-gray-medium;
    font-size: 24px;
    padding-top: 20px;
    // z-index: 2;
  }
}

.focus {
  color: $color-first;
}

.container {
  background: $color-bg;
  color: $color-text;
}

.container-inverse {
  background: $color-bg-inverse;
  color: $color-text-inverse;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}
