@charset "UTF-8";

/*-------------------------------------------------------------
Custom Fonts
---------------------------------------------------------------*/

// @font-face {
//     font-family: 'raleway';
//     src: url('fonts/raleway/raleway_thin-webfont.eot');
//     src: url('fonts/raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
//          // url('fonts/raleway/raleway_thin-webfont.woff') format('woff'),
//          // url('fonts/raleway/raleway_thin-webfont.ttf') format('truetype'),
//          url('fonts/raleway/raleway_thin-webfont.svg#raleway') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
  font-family: 'raleway';
  src: url('fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('fonts/raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'fabfeltscriptbold';
  src: url('fonts/fabfelt/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
  // src: url('fonts/fabfelt/fabfeltscript-bold.eot');
  src: url('fonts/fabfelt/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/fabfelt/fabfeltscript-bold.woff2') format('woff2'),
       url('fonts/fabfelt/fabfeltscript-bold.woff') format('woff'),
       url('fonts/fabfelt/fabfeltscript-bold.ttf') format('truetype'),
       url('fonts/fabfelt/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
 