

#logo {
  position: fixed;
  // position: absolute;

  top: 0;

  background: $color-first;
  color: $color-first-annex;
  @include circle(100px);

  font-family: $font-title;
  font-size: 24px;
  margin: $gutter-height-s $gutter-width-s;
  padding: $gutter-height-s $gutter-width-s $gutter-height-s $gutter-width-s;
  // text-align: center;
  text-transform: uppercase;

  z-index: 11;
  // left: 0;
  // right: 0;
  // top: 0;
  // margin: $gutter-height-s;
}
#logo-wrapper > div {
  position: relative;
  line-height: 12px;
  &.web {
  position: absolute;
    left: 23px;
    top: 16px;   
  }
  &.you {
  position: absolute;
    color: $color-white;
    // color: $color-first;
    font-family: $font-handwriting;
    font-size: 70px;
    height: 80px;
    line-height: 45px;
    text-transform: none;

    left: 16px;
    top: 14px;   
  }
  &.soon {
  position: absolute;
    left: 15px;
    top: 70px;   
  }
}


@include mq(large) {
  #logo {
    position: absolute;

    top: 0;

    background: $color-first;
    color: $color-first-annex;
    @include circle(200px);

    font-family: $font-title;
    font-size: 48px;
    // margin-top: $gutter-height-s;
    padding: $gutter-height-s $gutter-width-s $gutter-height-s $gutter-width-s;
    text-align: center;
    text-transform: uppercase;

    left: 0;
    right: 0;
    top: -82px;
    margin: $gutter-height-s auto;
  }
  #logo-wrapper > div {
    position: relative;
    line-height: 24px;
    &.web {
    position: absolute;
      left: 45px;
      top: 32px;   
    }
    &.you {
    position: absolute;
      color: $color-white;
      // color: $color-first;
      font-family: $font-handwriting;
      font-size: 140px;
      height: 80px;
      line-height: 90px;
      text-transform: none;

      left: 31px;
      top: 28px;   
    }
    &.soon {
    position: absolute;
      left: 30px;
      top: 140px;   
    }
  }
}