// Bye bye encoding issues
@charset 'utf-8';

#logo {
  @include bg-img('logo', '.png');
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  @include mq(medium) {
    width: 100px;
    height: 100px;
    right: 0;
    margin: 0 auto;
  }
  @include mq(large) {
    width: 200px;
    height: 200px;
  }
}