// Bye bye encoding issues
@charset 'utf-8';

@mixin text($font-size, $font-size-base, $line-height) {
  @include font-size($font-size, $font-size-base);
  @include line-height($font-size, $font-size-base, $line-height);
}

@mixin font-size($font-size, $font-size-base) {
  // px
  font-size: $font-size;
  // rem
  font-size: pxtorem($font-size, $font-size-base);
}

@mixin line-height($font-size, $font-size-base, $line-height) {
  // px
  line-height: $font-size * $line-height;
  // rem
  line-height: pxtorem($font-size, $font-size-base) * $line-height;
}

@mixin clearfix() {
    content:'';
    display:block;
    clear: both;
}

@mixin circle($size) {
  border-radius: 50%;
  height: $size;
  width: $size;
}

@mixin mq($size) {
  @if $size == small {
      @media screen and (max-width: $screen-s) { @content; }
  }
  @if $size == medium or $size == m {
      @media screen and (min-width: $screen-s + 1) { @content; }
  }
  @if $size == large or $size == l {
      @media screen and (min-width: $screen-m) { @content; }
  }
  @if $size == xlarge  or $size == xl {
      @media screen and (min-width: $screen-l) { @content; }
  }
}

@mixin bg-img($name-img, $extension) {
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* no scale */
  @media (min-resolution: 96dpi) {
    background-image: find-img($name-img, '', $extension);
  }
  /* scaled by 2 */
  @media (min-resolution: 192dpi) {
    background-image: find-img($name-img, '@2x', $extension);
  }
  /* scaled by 3 */
  @media (min-resolution: 288dpi) {
    background-image: find-img($name-img, '@3x', $extension);
  }
}

@mixin logo($size) {
  #logo {
    background: $color-first;
    color: $color-first-annex;
    @include circle($size * 25);

    font-family: $font-title;
    font-size: $size * 6;
    line-height: $size * 6;
    padding: $size * 6.5 $size * 4;
    text-transform: uppercase;

    z-index: 11;

    .you {
      color: $color-white;
      font-family: $font-handwriting;
      font-size: $size * 18;
      height: $size * 20;
      text-transform: none;
      letter-spacing: -$size * 0.75;
      &::first-letter {
        letter-spacing: 0;
      }
    }

    &::first-letter {
      letter-spacing: 0;
    }
    overflow: hidden;
  }
  #logo-wrapper > div {
    position: relative;
    line-height: $size * 3;

    width: $size * 25;
    position: absolute;

    &.web,
    &.soon {
      left: 0;
      right: 0;
      text-align: center;
    }

    &.web {
      top: $size * 4;
    }
    &.you {
      color: $color-white;
      font-family: $font-handwriting;
      font-size: $size * 18;
      height: $size * 20;
      line-height: $size * 11;
      text-transform: none;
      letter-spacing: -$size * 0.75;
      top: $size * 4;
      left: $size * 3.5;
      &::first-letter {
        letter-spacing: 0;
      }
    }
    &.soon {
      top: $size * 18;
    }
  }
}
