#teaser {
  font-family: $font-title;
  height: 540px;
  position: relative;

  // margin: 0px auto;

  div#teaser-text {
    // color: $color-gray-darkest;
    // color: $color-first-annex;
    // color: $color-first;
    color: $color-text-inverse;
    font-size: 48px;
    left: 0;
    width: 50%;
    // left: $gutter-width-s;
    line-height: 85px;
    position: absolute;
    bottom: 0;
    top: 0;
    background: $color-first;
    // background: $color-first-annex;
    display: inline;
    padding: 5px $gutter-width-s 5px $gutter-width-s;
    opacity: 0.8;
  }
}

@include mq(large) {
  #teaser {
    background: find-img('bg-teaser.png') no-repeat;
    max-width: 100%;
  }
  div#teaser-app {
    background: find-img('app.png') no-repeat;
    height: 382px;
    position: absolute;
    left: 478px;
    top: 90px;
    width: 218px;
  }
}

@include mq(xlarge) {
  #teaser {
    width: $max-width-screen;
    height: $max-height-screen;
  }
}

