#teaser {
  position: relative;
  margin-top: 50px;
  height: 270px;
  font-family: $font-title;

  div#teaser-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba($color-first, $opacity-background);

    // color: $color-first;
    color: $color-text-inverse;
    > div#teaser-verbatim {
      width: 50%;
      font-size: 18px;
      padding: $gutter-height-s $gutter-width-s;
    }
  }

  div#teaser-device {
    position: absolute;
    right: 0;
    bottom: 0;
    background: find-img('teaser-device.png') no-repeat;
    width: 131px;
    height: 234px;

    z-index: 3;
  }
  
  div#teaser-app {
    position: absolute;
    right: 0;
    bottom: 0;
    background: find-img('teaser-app.png') no-repeat;
    width: 109px;
    height: 193px;
  }
}

@include mq(large) {

  #teaser {
    position: relative;
    margin-top: 0;
    max-width: 100%;
    height: 540px;
    background: find-img('teaser-bg.png') no-repeat;

    div#teaser-text {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      width: 50%;
      > div#teaser-verbatim {
        position: absolute;
        bottom: 0;
        font-size: 48px;
        line-height: 85px;
        padding: $gutter-height-s $gutter-width-s;
      }
    }

    div#teaser-device {
      position: absolute;
      // left: 656px;
      // left: 66.66666%;
      right: 1.66666%;
      top: 72px;
      background: find-img('teaser-device.png') no-repeat;
      width: 262px;
      height: 468px;
    }

    div#teaser-app {
      position: absolute;
      left: 23px;
      top: 82px;
      // left: 679px;
      // top: 154px;
      background: find-img('teaser-app.png') no-repeat;
      width: 218px;
      height: 386px;
    }
  }
}

@include mq(xlarge) {
  #teaser {
    width: $max-width-screen;
    height: $max-height-screen;
  }
}

