
$color-white: #FFFFFF;
$color-black: #000000;

$color-gray-lightest: #E0E0E0;
$color-gray-lighter: #757575;
$color-gray-medium: #616161;
$color-gray-darker: #424242;
$color-gray-darkest: #212121;



// $color-cyan: red;
$color-cyan: #00BCD4;
$color-cyan-darker: #0079A9;


$color-first: $color-cyan;
$color-first-annex: $color-cyan-darker;


$color-bg: $color-white;
$color-bg-inverse: $color-gray-darkest;

$color-text: $color-gray-lighter;
$color-text-inverse: $color-white;
$color-text-focus: $color-first;


$font-text: 'raleway', Helvetica, Arial, sans-serif;
$font-title: 'raleway', Helvetica, Arial, sans-serif;
$font-handwriting: 'Pacifico', cursive;
$font-icon-1: 'streamline';
$font-icon-2: 'FontAwesome';

$screen-s: 480px;
$screen-m: 768px;
$screen-l: 1024px;


